# 数据库连接
MYSQL_HOST=localhost
MYSQL_PORT= 3706
MYSQL_USER= your_user_name
MYSQL_PASSWORD= your_mysql_password
MYSQL_DATABASE= your_database_name

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER==your_user_name
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DATABASE=your_database_name

# 大模型 API Key（至少填一个）
DEEPSEEK_API_KEY=
QWEN_API_KEY=


# 默认使用的模型（deepseek 或 qwen）
DEFAULT_MODEL=deepseek