@tailwind base;
@tailwind components;
@tailwind utilities;

/* 全局背景和文字 */
body {
  background-color: #ffffff;
  color: #1f2937;
}

/* 自定义滚动条 */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
}